$defaultColor: #d0e6e5;
$activeColor: #26d4c6;
$disabledColor: #989898;
$backGroundDisabledColor: #f2f2f2;
$danger: #ed8fa2;
$backGroundDangerColor: #f7e7e6;
$textDangerColor: #959296;
$textDisabledColor: #656970;
$primaryColor: #812f93;
$white: #ffffff;
$black: #404040;
$labelDangerColor: #ef4265;
