@import './_colors.scss';

// css checkbox mixin
@mixin css-checkbox(
        $size: '16px',
        $selectedColor: #444,
        $checkColor: #FFF,
        $valign: 'middle',
        $rounded: rounded
    ) {
	display: none;

	&:checked {
		background: #812f93;
		border-color: #812f93;

		&:hover:after { opacity: 1; }

		&:after {
			opacity: 1;
      border-color: #{$checkColor};
		}
	}

  box-sizing: border-box;
    &:before, &:after {
       box-sizing: border-box;
    }
    position: relative;
		display: inline-block;
		top: -1px;
		width: #{$size};
		height: #{$size};
		margin: 0;
    vertical-align: #{$valign};
		border: 1px solid #999;
		background: #F9F9F9;
		font-size: #{$size};
		cursor: pointer;

		&:hover:after { opacity: .2; }

		&:after {
			content: '';
			opacity: 0;
			transform: translateZ(1px) rotate(-45deg);
      outline: 1px solid transparent; // hack to prevent antialias atrifacts in firefox
			position: absolute;
			top: 22%;
			left: 15%;
			width: .68em;
			height: .4em;
			border: .15em solid #d0e6e5;
			border-top: none;
			border-right: none;
			background: rgba(0, 0, 0, 0);
		}
}

.App {
  background-image: url('./Assets/texture.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-top: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form {
  border: 1px solid #eee;
  padding: 40px;
  &__group {
    margin-bottom: 20px;
    label,
    p {
      display: block;
      font-size: 14px;
      margin-bottom: 5px;
    }
    label {
      text-transform: uppercase;
    }
    &--radio,
    &--checkbox {
      label {
        .css-checkbox {
          @include css-checkbox(18px,  $primaryColor);
        }
        display: inline-flex;
        align-items: center;
        margin-right: 15px;
        span {
          margin-left: 5px;
        }
      }
    }
    input[type="text"],
    input[type="password"],
    input[type="file"],
    textarea,
    select {
      display: block;
      width: 100%;
      padding: 10px;
      font-size: 14px;
      border: 4px solid $defaultColor;
      outline: none;
      transition: box-shadow .3s ease;
      &:focus {
        border: 4px solid $activeColor;
        outline: none;
      }
      &.error {
        border-color: $danger;
        background-color: $backGroundDangerColor;
        color: $textDangerColor;
      }
    }
  }
  &__error {
    color: $labelDangerColor;
    padding: 5px 0;
    font-weight: bold;
    display: block;
  }
}
.btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: $primaryColor;
  color: #fff;
  border: 0;
  outline: 0;
  cursor: pointer;

  &.btn-default {
    background-color: $white;
    color: $black;
  }
}

.rounded-full {
  border-radius: 9999px;
}

.flex {
  display: flex;
  column-gap: 80px;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.flex-btn {
  display: flex;
  column-gap: 80px;
}

.flex-1 {
  flex-grow: 1;
}

.flex-2 {
  flex-grow: 2;
}

.marging-x-10 {
  margin-left: 10px;
}

.margin-10 {
  padding: 10px;
}

.header {
  padding-left: 40px;
}

.subtitle {
  color: $black;
}

.padding-40 {
  padding: 40px;
}

h1, h4 { letter-spacing: 0.01em; }
